* {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

#menu361 {
	background-color: #eee;
	width: 0px;
	top: 500px;
	left: 500px;
	z-index: 99990;
	position: relative;
}

#menu361-handle {
	width: 64px;
	height: 64px;
	border-radius: 1000px;
	background-image: url("../img/menu-ico.png"), radial-gradient(#00608c, #0087c6);
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
	position: absolute;
	z-index: 99999;
}

#menu361 ul {
	list-style: none;
	z-index: 99998;
}

#menu361 li {
	width: 32px;
	height: 32px;
	background-color: #66aa66;
	border-radius: 10000px;
	position: absolute;
	cursor: pointer;
	background-image: url("../img/image-ico.png"), radial-gradient(#aaa, #777);
	background-position: center;
	background-repeat: no-repeat;
}

#menu361 li:hover {
	background-color: #6666aa;
}